<center><font color=#555555><font size=6> MyST Lab 01 </font> <br> <br>
    
<center><font color=#555555><font size=5> Laboratorio 01</font> <br> <br> <br> <br>

<center><font color=#555555><font size=6> EFRAIN GÓMEZ TAPIA </font> <br> <br>
   
<center> <font color= #555555> <font size = 4> Junio,2022</a> | <font color= #555555> <font size = 4> Repository: <a href='https://github.com/'>https://github.com/Efragtapia/V2022_MyST_Lab01</a></font>

<hr style="border:0.02in solid gray"> </hr>

<center> <font color= #555555> <font size = 6> Microestructuras y Sistemas de Trading </font> <br> <br> <font color= #555555> <font size = 5> Laboratorio 01</font>

<hr style="border:0.02in solid gray"> </hr>

<br>

<font color= #555555> <font size = 4> Abstract </font>

<font color= #6B6B6B> <font size = 3>  En este laboratorio podemos observar el comportamiento de los libros de órdenes así como de los trades públicos, y podemos ver métricas sobre los mismos para entender a fondo su comportamiento. </font>

<br>

# <font color= #6B6B6B> <font size = 6> 1. Introduction </font>

<hr style="border:0.02in solid gray"> </hr>

Se podrán observar métricas como la cantidad de transacciones que se realizaron, el volumen, sus discrepancias, etc.

<br>

# <font color= #6B6B6B> 2. Install/Load Packages and Depedencies </font>

<hr style="border:0.02in solid gray"> </hr>

## <font color= #6B6B6B> 2.1 Python Packages </font> <font color= #555555>

In order to run this notebook, it is necessary to have installed and/or have the _requirements.txt_ file with the following:

- pandas>=1.1.0
- numpy>=1.19.1
- jupyter>=1.0.0
- chart_studio>=1.1
- plotly>=4.14
- ipykernel

## <font color= #6B6B6B> 2.2 Files Dependencies </font> <font color= #555555>

The following are the file dependencies that are needed to run this notebook:

- btcusdt_binance.csv : Public Trades
- orderbooks_05jul21.json : Order Books

## <font color= #6E6E6E> 2.3 Install Packages</font>

In [13]:
import data as dt
import pandas as pd 
import functions as fun 
import functions2 as fun2 
import visualization as vi
import json

In [3]:
%%capture

# Install all the pip packages in the requirements.txt
import sys
!{sys.executable} -m pip install -r requirements.txt

<br>

# <font color= #6B6B6B> 3. Data Description </font>

<hr style="border:0.02in solid gray"> </hr>

In [ ]:
# DELETE THIS CELL IN YOUR FILE

# Here you include content from data conceptual, statistical and visual description

In [17]:
data_ob=dt.ob_data

data_items = data_ob.items()
data_list = list(data_items)
df_ob= pd.DataFrame(data_list) 
df_ob.head()

                          0                                                  1
0  2021-07-05T13:06:46.571Z       bid_size      bid      ask  ask_size
0   ...
1  2021-07-05T13:06:47.918Z       bid_size      bid      ask  ask_size
0   ...
2  2021-07-05T13:06:49.414Z       bid_size      bid      ask  ask_size
0   ...
3  2021-07-05T13:06:51.077Z       bid_size      bid      ask  ask_size
0   ...
4  2021-07-05T13:06:52.426Z       bid_size      bid      ask  ask_size
0   ...

In [7]:
pt_data=dt.pt_data
pt_data.head()

   Unnamed: 0            timestamp     price   amount  side
0           0  2022-05-10 08:08:07  31702.47  0.00035  sell
1           1  2022-05-10 08:08:07  31702.48  0.00263   buy
2           2  2022-05-10 08:08:07  31702.48  0.00631   buy
3           3  2022-05-10 08:08:07  31702.48  0.00264   buy
4           4  2022-05-10 08:08:07  31702.48  0.01146   buy

<br>

# <font color= #6B6B6B> <font size = 6> 4. Results </font>

<hr style="border:0.02in solid gray"> </hr>

In [6]:
data_ob=dt.ob_data
pt_data=dt.pt_data
OBook=fun.f_descriptive_ob(data_ob=data_ob)

<br>

## <font color= #6B6B6B> 5.1 Results of first processes </font>

In [8]:
metric = OBook['median_ts_ob']
print(f"Median Time Of Orderbook:{metric}")

Median Time Of Orderbook:0 days 00:00:01.500000

In [9]:
metric2 = pd.DataFrame(OBook['Spread'])
print(f"Spread:{metric2}")

Spread:        0
0     5.0
1     5.0
2     5.0
3     3.0
4     3.0
...   ...
2396  7.0
2397  7.0
2398  7.0
2399  5.0
2400  5.0

[2401 rows x 1 columns]

In [10]:
metric3 = pd.DataFrame(OBook['Midprice'])
print(f"Midprice:{metric3}")

Midprice:            0
0     42410.0
1     42410.0
2     42410.0
3     42415.5
4     42415.5
...       ...
2396  42539.5
2397  42539.5
2398  42539.5
2399  42536.0
2400  42536.0

[2401 rows x 1 columns]

In [11]:
metric4 = pd.DataFrame(OBook['No_price_levels'])
print(f"No. of price levels:{metric4}")

No. of price levels:       0
0     25
1     25
2     25
3     25
4     25
...   ..
2396  25
2397  25
2398  25
2399  25
2400  25

[2401 rows x 1 columns]

In [12]:
metric5 = pd.DataFrame(OBook['Bid_Volume'])
print(f"Bid Volume:{metric5}")

Bid Volume:              0
0     32.100178
1     32.100178
2     32.100178
3     36.263315
4     36.263315
...         ...
2396  19.984121
2397  19.984121
2398  19.984121
2399  18.140884
2400  18.140884

[2401 rows x 1 columns]

In [13]:
metric6 = pd.DataFrame(OBook['Ask_Volume'])
print(f"Ask Volume:{metric6}")

Ask Volume:              0
0     31.699457
1     31.699457
2     31.699457
3     36.929183
4     36.929183
...         ...
2396  23.940057
2397  23.940057
2398  23.940057
2399  22.614192
2400  22.614192

[2401 rows x 1 columns]

In [14]:
metric7 = pd.DataFrame(OBook['Total_Volume'])
print(f"Total volume:{metric7}")

Total volume:              0
0     63.799634
1     63.799634
2     63.799634
3     73.192497
4     73.192497
...         ...
2396  43.924178
2397  43.924178
2398  43.924178
2399  40.755075
2400  40.755075

[2401 rows x 1 columns]

In [15]:
metric8 = pd.DataFrame(OBook['Imbalance'])
print(f"Imbalance:{metric8}")

Imbalance:             0
0     0.509527
1     0.509527
2     0.509527
3     0.496758
4     0.496758
...        ...
2396  0.434437
2397  0.434437
2398  0.434437
2399  0.431926
2400  0.431926

[2401 rows x 1 columns]

In [16]:
metric9 = pd.DataFrame(OBook['W-Midprice'])
print(f"w-Midprice:{metric9}")

w-Midprice:                 0
0     21609.024587
1     21609.024587
2     21609.024587
3     21070.227909
4     21070.227909
...            ...
2396  18480.750332
2397  18480.750332
2398  18480.750332
2399  18372.396234
2400  18372.396234

[2401 rows x 1 columns]

In [17]:
metric10 = pd.DataFrame(OBook['V-WAP'])
print(f"V-WAP:{metric10}")

V-WAP:                0             1             2             3             4   \
0     3.081706e+09  3.080794e+09  3.080951e+09  2.987885e+09  2.983968e+09
1     3.081706e+09  3.080794e+09  3.080951e+09  2.987885e+09  2.983968e+09
2     3.081706e+09  3.080794e+09  3.080951e+09  2.987885e+09  2.983968e+09
3     1.895604e+09  2.644957e+09  2.644596e+09  2.645109e+09  2.536687e+09
4     1.895604e+09  2.644957e+09  2.644596e+09  2.645109e+09  2.536687e+09
...            ...           ...           ...           ...           ...
2396  4.079775e+09  4.004742e+09  4.079741e+09  4.078060e+09  4.041297e+09
2397  4.079775e+09  4.004742e+09  4.079741e+09  4.078060e+09  4.041297e+09
2398  4.079775e+09  4.004742e+09  4.079741e+09  4.078060e+09  4.041297e+09
2399  4.318381e+09  4.317952e+09  4.317737e+09  4.206246e+09  3.992842e+09
2400  4.318381e+09  4.317952e+09  4.317737e+09  4.206246e+09  3.992842e+09

                5             6             7             8             9   \
0     2.972075e+09  3.068799e+09  3.058108e+09  2.992341e+09  3.035588e+09
1     2.972075e+09  3.068799e+09  3.058108e+09  2.992341e+09  3.035588e+09
2     2.972075e+09  3.068799e+09  3.058108e+09  2.992341e+09  3.035588e+09
3     2.509362e+09  2.554743e+09  2.635779e+09  2.603306e+09  2.631902e+09
4     2.509362e+09  2.554743e+09  2.635779e+09  2.603306e+09  2.631902e+09
...            ...           ...           ...           ...           ...
2396  3.740505e+09  3.787558e+09  3.981757e+09  3.974292e+09  3.573793e+09
2397  3.740505e+09  3.787558e+09  3.981757e+09  3.974292e+09  3.573793e+09
2398  3.740505e+09  3.787558e+09  3.981757e+09  3.974292e+09  3.573793e+09
2399  4.275826e+09  4.175050e+09  4.211685e+09  3.705686e+09  4.310770e+09
2400  4.275826e+09  4.175050e+09  4.211685e+09  3.705686e+09  4.310770e+09

      ...            15            16            17            18  \
0     ...  3.071629e+09  3.014371e+09  2.947189e+09  2.943395e+09
1     ...  3.071629e+09  3.014371e+09  2.947189e+09  2.943395e+09
2     ...  3.071629e+09  3.014371e+09  2.947189e+09  2.943395e+09
3     ...  2.608491e+09  2.581592e+09  2.542754e+09  2.586593e+09
4     ...  2.608491e+09  2.581592e+09  2.542754e+09  2.586593e+09
...   ...           ...           ...           ...           ...
2396  ...  4.019682e+09  3.845981e+09  3.934828e+09  4.061909e+09
2397  ...  4.019682e+09  3.845981e+09  3.934828e+09  4.061909e+09
2398  ...  4.019682e+09  3.845981e+09  3.934828e+09  4.061909e+09
2399  ...  4.118498e+09  4.119596e+09  4.161722e+09  4.298904e+09
2400  ...  4.118498e+09  4.119596e+09  4.161722e+09  4.298904e+09

                19            20            21            22            23  \
0     3.080773e+09  2.830881e+09  3.009903e+09  3.015369e+09  3.045495e+09
1     3.080773e+09  2.830881e+09  3.009903e+09  3.015369e+09  3.045495e+09
2     3.080773e+09  2.830881e+09  3.009903e+09  3.015369e+09  3.045495e+09
3     2.607304e+09  2.637894e+09  2.617053e+09  2.597548e+09  2.627711e+09
4     2.607304e+09  2.637894e+09  2.617053e+09  2.597548e+09  2.627711e+09
...            ...           ...           ...           ...           ...
2396  3.693169e+09  4.080175e+09  3.949653e+09  4.063570e+09  3.988041e+09
2397  3.693169e+09  4.080175e+09  3.949653e+09  4.063570e+09  3.988041e+09
2398  3.693169e+09  4.080175e+09  3.949653e+09  4.063570e+09  3.988041e+09
2399  3.935585e+09  4.319368e+09  4.250002e+09  4.301897e+09  4.140821e+09
2400  3.935585e+09  4.319368e+09  4.250002e+09  4.301897e+09  4.140821e+09

                24
0     3.080773e+09
1     3.080773e+09
2     3.080773e+09
3     2.312162e+09
4     2.312162e+09
...            ...
2396  4.025135e+09
2397  4.025135e+09
2398  4.025135e+09
2399  4.189917e+09
2400  4.189917e+09

[2401 rows x 25 columns]

In [ ]:
plot_3 = vi.plot_lines(data_x=list(data_ob.keys()),
                       data_s1= OBook['bid_size'],
                       data_s2= OBook['ask_size'],
                       data_s3= OBook['total_size'])
plot_3.show()

## <font color= #6B6B6B> 5.2 Results of another proces </font>

<br>

In [ ]:
PTrades= fun2.f_publictrades_metrics(pt_data=pt_data)

In [ ]:
metricB1 = pd.DataFrame(PTrades['Buy_tt'])
print(f"Buy Trades Count:{metricB1}")

In [ ]:
metricB2 = pd.DataFrame(PTrades['Sell_tt'])
print(f"Sell Trades Count:{metricB2}")

In [ ]:
metricB3 = pd.DataFrame(PTrades['Total_trade'])
print(f"Total Trade:{metricB3}")

In [ ]:
metricB4 = pd.DataFrame(PTrades['Diff'])
print(f"Difference in Trade Count:{metricB4}")

In [ ]:
metricB5 = pd.DataFrame(PTrades['OHLC'])
print(f"OHLC:{metricB5}")

# <font color= #6B6B6B> <font size = 6> 6. References </font>

<hr style="border:0.02in solid gray"> </hr>

- Kraken data
- BTC-USDT data trades

[1] Munnoz, 2020. Python project template. https://github.com/iffranciscome/python-project. (2021).

<br>